@media screen and (max-width: 1200px) {
    .contain__section__trois {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
    }
    .contain__section__quatre {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
    }
}